body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}
#content {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
}
.base-img {
    height: 800px;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
.layered-img {
    height: 800px;
    width: auto;
    position: absolute;
}

.bottom {
    z-index: 1;
}

.top {
    z-index: 2;
}

.foot {
    z-index: 2;
}